body {
    font-family: Verdana;
    padding: 10px;
    background: Tomato;
  }
  
 
  .header {
    padding: 30px;
    text-align: center;
   

    background: 	#F5F5DC;
  }
  
  .header h1 {
    font-size: 50px;
    font-family: Georgia;
  }
  

  .topnav {
    overflow: hidden;
    background-color:	#E9967A;
  }
  

  .topnav a {
    float: left;
    display: block;
    color:azure;
    text-align: center;
    padding: 14px 16px;
   
    text-decoration: none;
  }
  

  .topnav a:hover {
    background-color: 	#F5F5DC;
    color: black;
  }
  
  .content {
    position: center;
    background-color:	#F5F5DC;
   
    padding: 10px;
    
 }

 .aboutmeimage {
    float: left;
    padding: 0 20px 20px 0;
  
 }

  .footer {
    background-color:	#E9967A;
    padding: 10px;
  }